<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 order-1"><br>
    <h1>Login</h1>
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="enter username"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Invalid!</div>
        <div class="valid-feedback">Valid!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter password"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
